<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<footer class="mt-5 bg-dark" th:fragment="footer">
    <div class="container p-5">
        <div class="row text-center text-white">
            <div class="col">
                <h2>ศูนย์รวมรถยนต์มือสอง</h2>
                <div class="text-start p-4 mt-5 mt-sm-5">
                    <p>Phone : +666-2365-9989</p>
                    <p>Address : 94 ถ.ศรีนครินทร์ เเขวงหนองบอน
                        เขตประเวศ 10260</p>
                    <p>Email : tpzoomcar@hotmail.com</p>
                    <p>Social :	facebook.com/TPZOOMCAR</p>
                </div>
            </div>
            <div class="col">
                <h2>ตลาดรถยนต์</h2>
                <div class="text-start p-4 mt-5 mt-sm-5 border-start border-white">
                    <p>Phone : +666-2365-9989</p>
                    <p>Address : 94 ถ.ศรีนครินทร์ เเขวงหนองบอน
                        เขตประเวศ 10260</p>
                    <p>Email : tpzoomcar@hotmail.com</p>
                    <p>Social :	facebook.com/TPZOOMCAR</p>
                </div>
            </div>

            <div class="col">
                <h2>CONTACT US</h2>
                <div class="text-start p-4 mt-5 mt-sm-5 border-start border-white">
                    <p>Phone : +666-2365-9989</p>
                    <p>Address : 94 ถ.ศรีนครินทร์ เเขวงหนองบอน
                        เขตประเวศ 10260</p>
                    <p>Email : tpzoomcar@hotmail.com</p>
                    <p>Social :	facebook.com/TPZOOMCAR</p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>