.background{
    background-image:  url("../images/homeBackground.png");
    background-size: cover;
}
.border-div{
    border: 2px;
    border-color: #4d5154;
}
.car-list{
    width: 33%;
}
.car-img{
    background-size: cover;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}
.price{
    transform: matrix(0.91, 0, -0.52, 1, 0, 0);
}
.car-detail{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
}
.image-preview{
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    /* Default Text */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}
.image-preview__image{
    display: none;
    width: 100%;
}
.bg-cream{
    background-color: #FFF2D0;
}

.bg-light-brown{
    background-color: #DDC074;
}

.bg-red-pink{
    background-color: #D57171;
}

.t-drab-green{
    color: #8A753F;
}

.t-light-brown{
    color: #8F5533;
}

.bg-light-brown{
    background-color: #D4B971;
}

.t-dark-blue{
    color: #0762A9;
}
