<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Car2 Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container-fluid p-0">
    <div class="background pt-3" style="height: 500px;">
        <div class="row bg-white w-75 rounded-4 mx-auto" style="height: 50px;">
            <button class="btn mx-5 my-1 w-auto" type="button">
                <a class="text-black text-decoration-none" th:href="@{/car}">ซื้อรถยนต์</a>
            </button>
            <button th:if="${currentUser.role == 'ROLE_ADMIN'}" class="btn me-4 my-1 w-auto" type="button">
                <a class="text-black text-decoration-none" th:href="@{/car/add}">ขายรถยนต์</a>
            </button>
            <span class="form-control h-75 my-2 ms-auto me-4 border-0 t-dark-orange text-center" style="width:10%;"/>หน้าหลัก<span/>
        </div>
    </div>

    <div class="mx-auto my-3">
        <h4 class="text-center">DO YOU WANT TO SELL A CAR?</h4>
    </div>
    <div class="w-75 mx-auto">
        <p>TYPE</p>
        <div class="row w-100 border border-1 border-dark rounded-3 px-3 py-5">
            <a class="col border-0 bg-white text-center text-decoration-none" th:href="@{/car/get/{carType}(carType=SUV)}">
                <img class="pb-2" src="/images/suv.png"/>
                <br/>
                <span class="text-black">SUV</span>
            </a>
            <a class="col border-0 bg-white text-center text-decoration-none" th:href="@{/car/get/{carType}(carType=Sedan)}">
                <img class="pb-2" src="/images/sedan.png"/>
                <br/>
                <span class="text-black">Sedan</span>
            </a>
            <a class="col border-0 bg-white text-center text-decoration-none" th:href="@{/car/get/{carType}(carType=Truck)}">
                <img class="pb-2" src="/images/trucks.png"/>
                <br/>
                <span class="text-black">Truck</span>
            </a>
            <a class="col border-0 bg-white text-center text-decoration-none" th:href="@{/car/get/{carType}(carType=Coupe)}">
                <img class="pb-2" src="/images/coupe.png"/>
                <br/>
                <span class="text-black">Coupe</span>
            </a>
        </div>
    </div>

</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>